.App {
  text-align: center;
  font-variant: small-caps;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: #fcf67d;
  margin: 1.3rem auto;
  letter-spacing: 3px;
  width: 90%;
}

.title {
  font-size: 1.4rem;
  color: rgb(179, 179, 179);
}
.time {
  letter-spacing: 4px;
  font-size: 3.2rem;
}

.board {
  font-size: 1.8rem;
  font-variant: small-caps;
  letter-spacing: 3px;
  font-weight: 400;
  font-stretch: expanded;
  display: flex;
  justify-content: center;
}

caption {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  border: 1px solid black;
}
tbody tr:nth-child(odd) {
  background-color: #1c2f3c;
}

td,
th {
  padding: 0.8rem;
}
th {
  color: rgb(179, 179, 179);
}

td {
  font-size: 2rem;
  color: #fcf67d;
}

@media (max-width: 670px) {
  .header {
    flex-direction: column;
    font-size: 1rem;
  }
  .time {
    font-size: 1.5rem;
  }
  caption {
    font-size: 1.7rem;
  }
  table {
    width: 95%;
  }
  td,
  th {
    font-size: 1rem;
    padding: 1rem 0.5rem;
  }
}
